.player {
  height: 100px;
  width: 100%;
  border: 1px solid rgb(0, 162, 24);
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;

  &__timeBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  &__progressBar {
    width: 100%;
  }

  &__timeRow {
    display: flex;
    justify-content: space-between;
  }

  &__time {
    color: white;
    font-size: 18px;
  }

  &__volumeRow {
    display: flex;
    gap: 20px;
  }

  &__volumeImg {
    height: 25px;
    width: 25px;
  }
}
