@use "nullstyle";
@use "header";
@use "footer";
@use "startPage";
@use "game";
@use "result";
@use "gallery";
@use "createPlayer";

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../images/pneptc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.headerBox {
  width: 100%;
  height: 100px;
  background-color: rgba(242, 255, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBox {
  background-color: rgba(255, 255, 255, 0.7);
}

.footerBox {
  width: 100%;
  height: 60px;
  background-color: rgba(236, 166, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
