.result {
  display: flex;
  border: 1px solid green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - 160px);
  
  &__text {
    font-size: 50px;
  }
}
