.startPage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: calc(100vh - 160px);
  width: 100%;
}

.textBox {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .playBtn {
    font-size: 30px;
    font-weight: 700;
    border: 3px solid rgb(17, 166, 0);
    color: rgb(18, 175, 0);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
  }
}

.videoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  .video {
    height: 100%;
  }
}
